*{
    font-family: "poppins";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.menu-bar{
    display: flex;
}

.menu-bar li a {
    padding: 3px 10px;
    margin: 0px 15px;
    color: #070707;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.2s;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #201f1f   
}

.logo span{
    color: darkorchid;
}

.right-navigation {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.right-navigation a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.right-navigation .like{
    background-color: lavender;
    color: blueviolet;
}

.right-navigation .cart{
    background-color: lavender;
    color: blueviolet;
}

.right-navigation a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 0.6rem;
    font-weight: 500;
}

.right-navigation .like span{
    background-color: blueviolet;
}

.right-navigation .cart span{
    background-color: blueviolet;
}

.menu-bar li a:hover, .menu-bar .active{
    color: blueviolet;
    transition: all ease 0.2s;
}

#cake-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: lavender;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ch{
    position: absolute;
    left: -50px;
    top: 300px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.cs{
    position: absolute;
    left: 70%;
    transform: translateX(-60%);
    transform: rotate(40deg);
    top: 35px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}
.bb{
    position: absolute;
    left: 30%;
    transform: translateX(-60%);
    transform: rotate(20deg);
    top: -30px;
    width: 400px;
    height: 200px;
    object-position: center;
    object-fit: contain;
}
.cr{
    position: absolute;
    left: 45%;
    transform: translateX(-60%);
    transform: rotate(20deg);
    top: 340px;
    width: 400px;
    height: 200px;
    object-position: center;
    object-fit: contain;
}
.cherry{
    position: absolute;
    left: 40%;
    transform: translateX(-60%);
    top: 340px;
    width: 400px;
    height: 200px;
    object-position: center;
    object-fit: contain;
}
.milk{
    position: absolute;
    left: 1%;
    top: -40px;
    width: 400px;
    height: 600px;
    object-position: center;
    object-fit: contain;
}
.spri{
    position: absolute;
    left: 77%;
    top: 300px;
    width: 400px;
    height: 200px;
    transform: rotate(90deg);
    object-position: center;
    object-fit: contain;
}
.cake-banner-text{
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-left: 500px;
    position: relative;
}
.cake-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: black;
}
#categories, #top-picks{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}

.categories-header, .pick-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-header h2, .pick-header h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #070707;
    letter-spacing: 0.5px;
}
.categories-header span, .pick-header span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

.categories-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.categories-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}
.categories-box img{
    height: 70px;
    width: 70px;
    object-position: center;
    transition: all ease 0.1s;
}
.categories-box span{
    color: purple;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.categories-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
#top-picks{
    margin: 80px auto;
}
.pick-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}
.pick-box{
    width: 300px;
    border: 1px solid lavender;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.pick-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.pick-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
.pick-box .quantity{
    color: purple;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.pick-box .price{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(32, 31, 31);
}
.pick-box .cart-button{
    width: 100%;
    height: 40px;
    background-color: lavender;
    color: darkorchid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.pick-box .cart-button i{
    margin-right: 10px;
}
.pick-box .cart-button:hover{
    background-color: purple;
    color: lavender;
    transition: all ease 0.3s;
}
.pick-box .like-button{
    position: absolute;
    right: 30px;
    top: 20px;
    color: darkorchid;
    font-size: 1.3rem;
}
#customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    padding: 80px 0px;
    margin: 40px 0px;
    border-top: 1px solid lavender;
    border-bottom: 1px solid lavender;
}
.customer-header h3{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.customer-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin-top: 40px;
}
.customer-box{
    background-color: white;
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.05);
    border-radius: 30px;
}
.customer-profile{
    display: flex;
    align-items: center;
}
.customer-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile-text strong{
    color: #222121;
    font-size: 1rem;
    font-weight: 600;
}
.profile-text{
    color: #555353;
    font-weight: 500;
    font-size: 1rem;
}
.ratings{
    display: flex;
    margin: 10px 0px;
}
.ratings i{
    color: #fdcc0d;
}
.customer-box p{
    color: #555353;
}
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid darkorchid;
}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-logo a span{
    color: plum;
}
.footer-socials{
    display: flex;
    margin-top: 10px;
}
.footer-socials a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #ffffff15;
    font-size: 1rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
}
.footer-socials a:hover{
    background-color: darkorchid;
    transition: all ease 0.3s;
}
.footer-links{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-links ul{
    margin-top: 10px;
}
.footer-links ul li a{
    color: white;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}